.slide {
  flex: 0 0 auto;
  text-align: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
}

.fullWidth {
  background-size: cover;
}

.fullHeight {
  background-size: contain;
}
